modules = ["python-3.12"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 40604801
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install Flask"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python src/main.py"

[[ports]]
localPort = 5000
externalPort = 80
